#news .header {
    min-height: 10rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(86.88deg,
            #7d6aff 1.38%,
            #ffb86c 64.35%,
            #fc2872 119.91%);
    background-size: cover;
    padding: 0 0.8rem;
    overflow: hidden;
    border-bottom: 0.1rem solid #fff;
    padding-bottom: 0;
    margin: 0 0 3rem;
    font-size: 0;
}

#news .header .wrapper .title {

    font-size: 3rem;
    font-weight: 600;
    color: #fff;

}

#news .body {
    max-width: 1376px;
    margin: 0 auto
}

#news .body .list-post {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#news .body .list-post li {
    cursor: pointer;
}

#news .body .list-post li .post-items {
    display: flex;
    gap: 30px;
}

#news .body .list-post li:hover .post-items .content .title span {
    text-decoration: underline;
}

#news .body .list-post li:hover .post-items .image img {
    transform: scale(1.1);
    transition: transform .25s ease;
}

#news .body .list-post li .post-items .image {
    border-radius: 0.8rem;
    overflow: hidden;
    z-index: 0;
}

#news .body .list-post li .post-items .image img {

    display: block;
    object-fit: cover;
}

#news .body .list-post li .post-items .image img {
    width: auto;
}

#news .body .list-post li .post-items .content {
    padding: 0.5rem 0.5rem 0.5rem 0rem;
    max-width: 50%;
}

#news .body .list-post li .post-items .content .title span {
    color: #37003c;
    letter-spacing: -.4px;
    margin: 0.4rem 0;
    line-height: 2.2rem;
    font-size: 1.8rem;
    overflow: hidden;
    max-height: 11.88rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
}